@import "./assets/style/home.css";
@import "./assets/style/promocao.css";
@import "./assets/style/cardapio.css";

:root {
  --title-black-60: #635352;
  --title-black-87: #34201f;
  --yellow: #f59a1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #faf3f2;
}

img {
  max-width: 100%;
}
