.home {
  background: url("../.././public/img/banner-hero.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 545px;

  display: flex;
  flex-direction: column;
}

/* header */

header {
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(5px);
}

.header-container {
  width: 1170px;
  display: flex;
  align-items: center;

  margin: 0 auto;

  height: 65px;
}

.header-nav {
  margin: 18.94px 100.35px 18.94px 61.35px;
}

.header-nav ul {
  display: flex;
  gap: 16px;
}

.header-nav ul li a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--title-black-60);

  text-decoration: none;
}

.header-nav ul li a:hover {
  font-weight: 700;
  cursor: pointer;
}

.social-nav {
  display: flex;
  gap: 13px;
  color: #ffffff;
}

.btn-header {
  margin-left: 26px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 16px;
  gap: 8px;

  width: 123px;
  height: 34px;

  background: var(--yellow);
  border: none;
  border-radius: 4px;
}

.btn-header img {
  width: 24px;
  height: 24px;
}

.btn-header a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: var(--title-black-87);

  text-decoration: none;
}

/* fim header */

/* section Hero */

.hero {
  margin-top: 114px;
}

.texto-hero {
  width: 1170px;
  margin: 0 auto;
}

.texto-hero-1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22.861px;
  line-height: 23px;
}

.texto-hero-2 {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 77.651px;
  line-height: 85px;

  text-transform: uppercase;
  color: #3b200b;
}

.texto-hero-3 {
  color: #f59a1b;
}

.texto-hero-4 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 22.861px;
  line-height: 32px;
  color: #3b200b;
}

.texto-hero-5 {
  width: 201.85px;
  height: 30.67px;

  background: #f59a1b;
  border-radius: 6.35029px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22.861px;
  line-height: 32px;
}

.hero-btn {
  width: 198.64px;
  height: 52.32px;

  border: none;

  background: #f43127;
  border-radius: 5.08023px;

  margin-top: 15px;
}

.hero-btn a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 22.861px;
  line-height: 32px;

  color: #ffffff;

  text-decoration: none;
}

/* seção hero banner */

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner-texto-artesanal h1,
.hero-banner-texto-atendimento h1,
.hero-banner-texto-deliveryspeed h1 {
  font-family: "Lilita One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  text-transform: uppercase;

  color: rgba(29, 6, 5, 0.9);
}

.hero-banner-texto-artesanal p,
.hero-banner-texto-atendimento p,
.hero-banner-texto-deliveryspeed p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(29, 6, 5, 0.69);

  opacity: 0.6;
}

.hero-banner-texto {
  width: 970px;
  height: 118.54px;
  margin-top: 108px;

  background: #ffffff;
  /* Shadow */

  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  border-radius: 10px;

  display: flex;
}

.hero-banner-texto-1,
.hero-banner-texto-2,
.hero-banner-texto-3 {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 18px;
}

.hero-banner-texto-img {
  width: 70px;
  height: 60px;

  background-color: #fae2cb;

  border-radius: 50%;
  padding: 14.5px;

  text-align: center;
}

.hero-banner-texto-1 {
  margin-left: 25px;
}

.hero-banner-texto-2 {
  margin: 0 85px;
  position: relative;
}

.hero-banner-texto-2::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 83.53px;
  right: -50px;

  border: 1px solid rgba(73, 46, 21, 0.15);
}

.hero-banner-texto-2::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 83.53px;
  left: -50px;

  border: 1px solid rgba(73, 46, 21, 0.15);
}

.hero-banner-texto-3 {
  margin-right: 35px;
}
